#{extends 'main.html' /}
#{set title:'Home' /}

#{ifnot itemList}
	No Item Found
#{/ifnot}
<ul>
	#{list items:itemList, as:'itemDetail'}
		<li>
			<input type="label" value="${itemDetail.id}"></input>
			<input type="label" value="${itemDetail.title}"></input>
			<input type="label" value="${itemDetail.creator}"></input>
		</li>
	 #{/list}
		#{list items:itemRegistryList, as:'itemDetail'}
		<li>
			<input type="label" value="${itemDetail.isIssued}"></input>
			<input type="label" value="${itemDetail.isReserved}"></input>
		</li>
	
	#{/list}

</ul>