#{extends 'main.html' /}
#{set title:'searchItemByAuthorResult.html' /}
#{ifnot itemList}
	No Item Found
#{/ifnot}
<table>
<tr>
	<td>
	<table>
		<tr>
		<td>Item ID</td>
		<td>Item Type</td>
		<td>Item Title</td>
		<td>Item Creator</td>
	</tr>
	#{list items:itemList, as:'itemDetail'}
	
		<tr>
			<td><input type="label" value="${itemDetail.id}"></input></td>
			<td><input type="label" value="${itemDetail.getClass()}"></input></td>
			<td><input type="label" value="${itemDetail.title}"></input></td>
			<td><input type="label" value="${itemDetail.creator}"></input></td>
		</tr>
				
	 #{/list}
	 </table>
	 </td>
	
		<td>
		 <table>
		 <tr>
		 	<td>Issued ?</td>
		 	<td>Reserved ?</td>
		 </tr>
		#{list items:itemRegistryList, as:'itemDetail'}
		<tr>
			<td><input type="label" value="${itemDetail.isIssued}"></input></td>
			<td><input type="label" value="${itemDetail.isReserved}"></input></td>
		</tr>
	#{/list}
	</table>
</td>
</tr>
</table>